{
"liveHIT":"yes",
"title":"Finding Wikipedia articles in text",
"description":"Link English text phrases to their corresponding Wikipedia articles. We have keyboard shortcuts for navigating our interface. Auto-approve in 2 hours.",
"experimentURL":"https://hazy-nel.netlify.app",
"keywords":"language research wikipedia label entities shortcuts english",
"USonly?":"yes",
"minPercentPreviousHITsApproved":"97",
"minNumPreviousHITsApproved": "100",
"frameheight":"650",
"reward":"5.00",
"numberofassignments":"10",
"assignmentsperhit": "10",
"assignmentduration":"7200",
"hitlifetime":"2592000",
"autoapprovaldelay":"7200",
"doesHaveQualification": "none",
"doesNotHaveQualification": "none"
}
