{
"liveHIT":"yes",
"title":"Connect entities in text to Wikipedia",
"description":"Connect entities in a text paragraph to their corresponding Wikipedia articles. The task takes about 20 minutes.",
"experimentURL":"https://hazy-nel.netlify.app",
"keywords":"language research stanford wikipedia label university",
"USonly?":"yes",
"minPercentPreviousHITsApproved":"97",
"minNumPreviousHITsApproved": "100",
"frameheight":"650",
"reward":"0.00",
"numberofassignments":"10",
"assignmentsperhit": "9",
"assignmentduration":"1800",
"hitlifetime":"2592000",
"autoapprovaldelay":"60000",
"doesHaveQualification": "none",
"doesNotHaveQualification": "none"
}
